#spotifyResults {
    .thumbnail {
        border: none; 
        background-color: transparent;      
        margin-top: 1%; 

        .artist-link {
            height: 200px; 
            border-radius: 50%;
        }

        .artist-image {
            width: 300px; 
            height: 300px; 
            border-radius: 50%; 
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,1);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }


        .artist-image:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        .panel-default {
            border-color: transparent;
            background-color: transparent; 
        }

        .panel-heading {
            background-color: transparent; 
            border-bottom: none;
            
        }

        .panel-body {
            background-color: transparent; 
            border-top: none; 
        }

        .title-row {
            margin-bottom: 2%;
        }
    }

}