body {
    //background-image: url("../images/tweed_@2X.png");
    background-image: url("../images/grey_wash_wall_@2X.png");
    background-attachment: fixed;
    padding-top: 70px;

}

h1, h2, h3, h4, h5, label {
    color: #F5F5F5;
}

.navbar-default {
    background-color: #0f1626;
    border: none;

}

.title-row {
    border-bottom: 3px solid #ff533d
}


