#playlists {

    .playlists {
        height: 275px;
        width: 275px;
        margin: 1%;
    }

    .playlist:hover {
        opacity: 1; 
    }

    .tile-primary-content {
        position: relative;
    }

    .tile-secondary-content {
        position: absolute; 
        top: 10px; 
        left: 113px;
        opacity: 0 ; 
    }


    .playlist-image {
        height: 275px;
        width: 275px;
        cursor: pointer;
    }
    
}