#playlists {
    
        .playlist {
            height: 275px;
            width: 275px;
            margin: 1%;
    
            .playlist-image {
                height: inherit;
                width: inherit;   
                margin: inherit; 
                cursor: pointer;
            }
        }
    }