#search {
    h1 {
        text-align: left;
    }

    .title-row {
        margin-left: 2%;
        margin-right: 2%; 
    }

    .search-form {
        margin: 1%; 
        margin-left: 2%;
        margin-right: 2%;
    }

    .start-date {
        margin-left: 1.25%;
        text-align: right;
    }

    .end-date {
        margin-left: -1.25%;
        text-align: right;
    }

    .search-btn {
        margin-top: 2.85%;
        margin-left: 22.5%;
        padding-right: 0;
        text-align: right;
    }

    .spotify-btns {
        padding-top: 4.75%;
        text-align: right;
    }
}