<div class="text-center" id="attended">         
        <div ng-if="concerts.length" id="results">
            <ul id="upcoming-list" class="list-group">
                <li ng-repeat="concert in concerts"class="list-group-item col-xs-12">
                    <div class="col-xs-3">{{concert.artistName}}</div>
                    <div class="col-xs-3">{{concert.venue}}</div>
                    <div class="col-xs-2">{{concert.datetime  | amDateFormat:'MMMM Do YYYY'}}</div>
                    <div ng-if="concert.rating" class="col-xs-2">{{concert.rating}}/5</div>
                    <div class="col-xs-2">
                        <button class="btn btn-default btn-sm col-xs-3 col-sm-offset-1" class="btn btn-primary" ng-click="launchModal('partials/detailAttended.html','DetailCtrl')" ng-controller="ModalCtrl">Details</button>
                        <button class="btn btn-danger btn-sm col-xs-3 col-sm-offset-1" ng-click="deleteConcert(concert)">Delete</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>