<nav class="navbar navbar-inverse" ng-controller="NavCtrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Contacts App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- Nav options that show when user is authenticated (has a UID) -->
        <ul class="nav navbar-nav navbar-right" ng-show="uid">
            <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input ng-model="searchTextNav.text" type="text" class="form-control" placeholder="Search Contacts">
                    </div>
            </form>
            <li><a ng-controller="ModalCtrl" ng-click="launchModal('partials/contacts/new.html','NewCtrl')">Add Contact</a></li>
            <li><a ng-click="toggleView()" ng-if="!favoritesView" ng-href="/contacts/favorites">View Favorites</a></li>
            <li><a ng-click="toggleView()" ng-if="favoritesView" ng-href="/contacts/view">View All</a></li>
            <li><a ng-click="logoutUser()">Logout</a></li>
        </ul>

        <!-- Nav options that show when user is NOT authenticated (no UID) -->
        <ul class="nav navbar-nav navbar-right" ng-show="!uid">
            <li><a ng-href="/login">Login</a></li>
        </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>