<div class="text-center" id="search">            
    <form name="searchForm" ng-submit="search(query)" novalidate>
        <div class="form-group col-sm-6">
            <input ng-model="query.artist" ng-required="!query.city" type="input" class="form-control" id="inputArtist" aria-describedby="artist" placeholder="Search for an Artist">
        </div>            
        <div class="form-group col-sm-6">
            <input ng-model="query.city" ng-required="!query.artist" type="input" class="form-control" id="inputCity" aria-describedby="city" placeholder="Search for a City">
        </div> 
        <div class="form-group col-sm-6">
            <input ng-model="query.startDate" type="date" class="form-control" id="inputPhone" aria-describedby="phone" placeholder="Phone Number">
        </div>  
        <div class="form-group col-sm-6">
            <input ng-model="query.endDate" email type="date" class="form-control" id="inputEmail" aria-describedby="email" placeholder="Email">
        </div>
        <button ng-disabled="searchForm.$invalid" class="btn btn-primary save-btn">Search</button>
    </form>
    <button ng-click="searchRecentlyPlayed()" class="btn btn-default spotify-btn">Search Recently Played</button>
    <button ng-show="!playlists" ng-click="getPlaylists()" class="btn btn-default spotify-btn">Show Playlists</button>
    <button ng-show="playlists" ng-click="getPlaylistsFromSpotify()" class="btn btn-default spotify-btn">Refresh Playlists</button>
    <div id="playlists" ng-if="playlists.length">
        <div ng-repeat="playlist in playlists" class="col-sm-12 col-md-6 col-lg-4 playlist" ng-click="searchPlaylist(playlist.tracks.href)">
                <img class="playlist-image" ng-src="{{playlist.images[0].url}}" alt="playlist-image">
        </div>
    </div>

    <div ng-if="concerts.length" id="results">
        <ul id="results-list" class="list-group">
            <li ng-repeat="concert in concerts"class="list-group-item">{{concert.displayName}} | {{concert.venue.displayName}} | {{concert.start.date}}
                <button class="btn btn-primary" ng-click="saveConcert(concert)">Save Show</button>
            </li>
        </ul>
    </div>

    <div id="spotifyResults" ng-if="spotifySearch">
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" heading="{{artist.name}}" ng-repeat="artist in artistsConcerts">
                <ul id="results-list" class="list-group">
                    <li ng-repeat="concert in artist.concerts" class="list-group-item">{{concert.displayName}} | {{concert.venue.displayName}} | {{concert.start.date}}
                        <button class="btn btn-primary" ng-click="saveConcert(concert)">Save Show</button>
                    </li>
                </ul>
            </div>
        </uib-accordion>
    </div>
</div>

