    <!-- Search Form  -->

<div class="text-center" id="search">            
    <form name="searchForm" ng-submit="search(query)" novalidate>
        <div class="form-group col-sm-6">
            <input ng-model="query.artist" ng-required="!query.city" type="input" class="form-control" id="inputArtist" aria-describedby="artist" placeholder="Search for an Artist">
        </div>            
        <div class="form-group col-sm-6">
            <input ng-model="query.city" ng-required="!query.artist" type="input" class="form-control" id="inputCity" aria-describedby="city" placeholder="Search for a City">
        </div> 
        <div class="form-group col-sm-6">
            <label for="inputStartDate">Start Date</label>
            <input ng-model="query.startDate" type="date" class="form-control" id="inputStartDate" aria-describedby="phone" placeholder="Start Date">
        </div>  
        <div class="form-group col-sm-6">
            <label for="inputEndDate">End Date</label>
            <input ng-model="query.endDate" email type="date" class="form-control" id="inputEndDate" aria-describedby="email" placeholder="End Date">
        </div>
        <button ng-disabled="searchForm.$invalid" class="btn btn-primary save-btn">Search</button>
    </form>

    <!-- Spotify Search Buttons  -->

    <button ng-click="searchRecentlyPlayed()" class="btn btn-default spotify-btn">Search Recently Played</button>
    <button ng-show="!playlists" ng-click="getPlaylists()" class="btn btn-default spotify-btn">Show Playlists</button>
    <button ng-show="playlists" ng-click="getPlaylistsFromSpotify()" class="btn btn-default spotify-btn">Refresh Playlists</button>

    <!-- Playlist Tiles  -->

    <div id="playlists" ng-if="playlists.length">
        <div ng-repeat="playlist in playlists" class="col-sm-12 col-md-6 col-lg-4 playlist" ng-click="searchPlaylist(playlist.tracks.href)">
                <img class="playlist-image" ng-src="{{playlist.images[0].url}}" alt="playlist-image">
        </div>
    </div>

    <!-- Manual Search Results  -->

    <div ng-if="concerts.length" id="results">
        <ul id="results-list" class="list-group">
            <li ng-repeat="concert in concerts" class="list-group-item col-xs-12" ng-init="isSavedConcert(concert.id, null, $index)" >
                <div class="col-xs-3">
                    <a href={{concert.uri}} target="_blank">{{concert.displayName}}</a>                    
                </div>
                <div class="col-xs-3">
                    <a href={{concert.venue.uri}} target="_blank">{{concert.venue.displayName}}</a>    
                </div>
                <div class="col-xs-2">{{concert.location.city}}</div>
                <div class="col-xs-2">{{concert.start.datetime  | amDateFormat:'MMMM Do YYYY, hh:mm a'}}</div>
                <div class="col-xs-2">
                    <button ng-show="!concert.saved" class="btn btn-primary" ng-click="saveConcert(null, $index, concert)">Save</button>
                    <button ng-show="concert.saved" class="btn btn-danger" ng-click="deleteSavedConcert(null, $index, concert.databaseId)">Remove</button>
                </div>
            </li>
        </ul>
    </div>

    <!-- Spotify Search Results  -->

    <div id="spotifyResults" ng-if="spotifySearch">
        <div>
            <div class="thumbnail col-sm-12 col-md-12 col-lg-6" ng-repeat="artist in artistsConcerts">
                <a href={{artist.spotifyLink}} target="_blank"><img class="artist-image" ng-src="{{artist.imageUrl}}" alt="artist-image"></a>
                <div class="caption">
                    <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                <div>
                                    <h4>{{artist.name}}</h4>
                                </div>                    
                            </uib-accordion-heading>
                            <ul id="results-list" class="list-group">
                                <li ng-repeat="concert in artist.concerts" class="list-group-item col-xs-12" ng-init="isSavedConcert(concert.id, $parent.$index, $index)">
                                    <div class="col-xs-3">
                                        <a href={{concert.uri}} target="_blank">{{concert.displayName}}</a>    
                                    </div>
                                    <div class="col-xs-3">
                                        <a href={{concert.venue.uri}} target="_blank">{{concert.venue.displayName}}</a>    
                                    </div>
                                    <div class="col-xs-2">{{concert.location.city}}</div>
                                    <div class="col-xs-2">{{concert.start.datetime | amDateFormat:'MMMM Do YYYY, hh:mm a'}}</div>
                                    <div class="col-xs-2">
                                        <button ng-show="!concert.saved" class="btn btn-primary" ng-click="saveConcert($parent.$index, $index, concert)">Save</button>
                                        <button ng-show="concert.saved" class="btn btn-danger" ng-click="deleteSavedConcert($parent.$index, $index, concert.databaseId)">Remove</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
        
    </div>
</div>





