<div class="text-center" id="upcoming">            
    <div ng-if="concerts.length" id="results">
        <h1>Upcoming Concerts</h1>
        <ul id="upcoming-list" class="list-group">
            <li class="list-group-item col-xs-12 row">
                <div class="col-xs-3"><strong>Artist</strong></div>
                <div class="col-xs-3"><strong>Venue</strong></div>
                <div class="col-xs-3"><strong>Date</strong></div>
                <div class="col-xs-3"></div>
            </li>
            <li ng-repeat="concert in concerts"class="list-group-item col-xs-12 row">
                <div class="col-xs-3">{{concert.artistName}}</div>
                <div class="col-xs-3">{{concert.venueName}}</div>
                <div class="col-xs-3">{{concert.datetime | amDateFormat:'MMMM Do YYYY, hh:mm a'}}</div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-sm col-xs-3 col-sm-offset-1" class="btn btn-primary" ng-click="launchModal('partials/detailUpcoming.html','DetailCtrl')" ng-controller="ModalCtrl"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm col-xs-3 col-sm-offset-1" ng-click="deleteConcert(concert)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
            </li>
        </ul>
    </div>
</div>