<div class="text-center" id="upcoming">            
    <div ng-if="concerts.length" id="results">
        <div class="row title-row">
            <div class="col-sm-12 col-md-6"><h1>Upcoming<br>Concerts</h1></div> 
        </div>
        <ul id="upcoming-list" class="list-group management-grid">
            <li class="list-group-item col-xs-12 row first-row">
                <div class="col-xs-3">Artist</div>
                <div class="col-xs-3">Venue</div>
                <div class="col-xs-3">Date</div>
                <div class="col-xs-3"></div>
            </li>
            <li ng-repeat="concert in concerts"class="list-group-item col-xs-12 row">
                <div class="col-xs-3">{{concert.artistName}}</div>
                <div class="col-xs-3">{{concert.venueName}}</div>
                <div class="col-xs-3">{{concert.datetime | amDateFormat:'MMMM Do YYYY, hh:mm a'}}</div>
                <div class="col-xs-3 action-column">
                    <button class="btn btn-default" class="btn btn-primary" ng-click="launchModal('partials/detailUpcoming.html','DetailCtrl')" ng-controller="ModalCtrl"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" ng-click="deleteConcert(concert)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
            </li>
        </ul>
    </div>
</div>