#playlists .playlist {
  height: 350px;
  width: 350px;
  margin: 1.5%; }
  #playlists .playlist .playlist-image {
    height: inherit;
    width: inherit;
    margin: inherit;
    cursor: pointer; }

#spotifyResults .artist-image {
  height: 200px; }

#login img {
  height: 110px; }

.modal-content .form-horizontal {
  margin-left: 25%; }
