#playlists .playlist .playlist-image {
  height: 300px;
  width: 300px;
  margin-top: 5%;
  cursor: pointer; }

#login img {
  height: 110px; }

.modal-content .form-horizontal {
  margin-left: 25%; }
